$red: hsl(7, 99%, 70%);
$lightred: hsl(7,99%, 85%);
$yellow: hsl(51, 100%, 49%);
$lightyellow:hsl(51, 100%, 85%);
$dark-cyan: hsl(167, 40%, 24%); // graphic design
$dark-blue: hsl(198, 62%, 26%); // photography
$dark-cyan-light: hsl(168, 34%, 41%); // footer
$cyan: hsl(167, 47%, 28%); // footer text

$dark-blue-neutral: hsl(212, 27%, 19%);
$darker-gray-blue: hsl(213, 9%, 39%);
$dark-gray-blue: hsl(232, 10%, 55%);
$gray-blue: hsl(210, 4%, 67%);
$cyan-neutral: hsl(167, 44%, 70%); //footer background
$white: hsl(0, 0%, 100%);