@use './colors';
@use './typography';

.footer {
    background-color: colors.$cyan-neutral;
    padding: 2rem;
    text-align: center;
}

.footer__logo-container {
    margin: 2rem auto;
}

.footer__logo {
    fill: colors.$cyan;
    transform: scale(1.25);
}

.footer__site-map {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.site-map__link {
    color: colors.$dark-cyan-light;
    font-size: 18px;
}

.footer__social {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.social__icon-link {
    color: colors.$dark-cyan-light;
}