
@use './typography';
@use './colors';

.tile-wrapper {
    display:flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.tile {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 2rem 1rem;
    text-align: center;
    @media screen and (min-width: 768px) {
        height: 600px;
    }
}

$sizes: 25, 50, 100;
@each $size in $sizes {
    .tile-#{$size} {
        width: #{$size+ "\%"};
    }
    .tile--md-#{$size} {
        @media only screen and (min-width:768px) {
            width: #{$size + "\%"};
        }
    }
}
.text-tile {
    order: 2;
    .text-tile__title {
        @extend .text-title;
        font-size: 2rem;
        color: colors.$dark-blue-neutral;
        @media screen and (min-width: 768px) {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        
    }

    .text-tile__description {
        font-size: 1.1rem;
        line-height: 1.6;
        color: colors.$dark-gray-blue;
    }

    .text-tile__link {
        @extend .text-title;
        margin: 1.5rem 0;
        text-transform: uppercase;
        color: colors.$dark-blue-neutral;
        position: relative;
        display: inline-block;

    }
    $colors: ('yellow': colors.$yellow, 'red': colors.$red);
    @each $color, $val in $colors {
        .text-tile__link--#{$color}::after {
            content: "";
            position: absolute;
            width: 115%;
            height: .5rem;
            background-color: $val;
            opacity: 50%;
            top: .8rem;
            left: -7.5%;
            z-index: -1;
            border-radius: .5rem;
            transition: opacity 0.3s
            }

        .text-tile__link--#{$color}:hover::after {
            opacity: 100%;
        }
        }

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 0 auto;
            padding: 0 8rem;
            text-align: left;
        }
}

.order-0--md {
    @media screen and (min-width: 768px) {
        order: 0;
    }
}

.combo-tile {
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .combo-tile__title {
        @extend .text-title;
        font-size: 28px;
        margin: 1.5rem 0;
    }
    .combo-tile__description {
        line-height: 1.5;
        margin-bottom: 2rem;
        font-size: 16px;
        margin-top: 0;
        @media screen and (min-width: 768px) {
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.graphic-design-img {
    .combo-tile__title {
        color: colors.$dark-cyan;
    }
    .combo-tile__description{
        color: colors.$cyan;
    }
}

.photography-img {
    .combo-tile__title, .combo-tile__description {
        color: colors.$dark-blue;
    }
}